<head><link href="./css/app.css" rel="stylesheet"></head><section class="about" id="about_us">
    <div class="container">
        <div class="about_inner">
            <h2>About Us</h2>
            <p>Divide have don't man where in air fourth. Own itself make have night won't make.
                A you under Seed appear which good give. Own give air without fowl moveth dry first
                heaven fruit, dominion she'd won't very all.</p>
                <img src="./img/signature.png" alt="signature">
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>