<head><link href="./css/app.css" rel="stylesheet"></head><section class="banner1">
    <img src="./img/banner1.jpg" alt="banner">
    <div class="banner1_text">
        <div class="container">
            <div class="row left">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="banner1_text_inner">
                        <h2>We Design and Develop</h2>
                        <p>We are a new design studio based in USA. We have over
                            20 years of combined experience, and know a thing or two
                            about designing websites and mobile apps.</p>
                        <a href="#foot"><input type="button" class="btnContact" name="contact" value="contact us"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>