<head><link href="./css/app.css" rel="stylesheet"></head><section class="banner2" id="prof-skills">
    <img src="./img/banner2.png" alt="banner2">
    <div class="banner2_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-9">
                    <div class="banner2-text">
                        <h3>Professional Skills</h3>
                        <div class="progress_item">
                            <p>UI/UX Design<span class="counter" data-count="75">0</span>%</p>
                            <div class="progress">
                                <div class="progress-bar">
                                </div>
                            </div>
                        </div>
                        <div class="progress_item">
                            <p>web development<span class="counter" data-count="90">0</span>%</p>
                            <div class="progress">
                                <div class="progress-bar">
                                </div>
                            </div>
                        </div>
                        <div class="progress_item">
                            <p>marketing <span class="counter" data-count="60">0</span>%</p>
                            <div class="progress">
                                <div class="progress-bar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>