<head><link href="./css/app.css" rel="stylesheet"></head><section class="brands">
    <div class="container">
        <div class="brands_inner">
            <div class="brands_item">
            <img src="./img/1client.png" alt="1client">
            </div>
            <div class="brands_item">
            <img src="./img/2client.png" alt="2client">
            </div>
            <div class="brands_item">
            <img src="./img/3client.png" alt="3client">
            </div>
            <div class="brands_item">
            <img src="./img/4client.png" alt="4client">
            </div>
            <div class="brands_item">
            <img src="./img/5client.png" alt="5client">
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>