<head><link href="./css/app.css" rel="stylesheet"></head><section class="departments" id="our_services">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/diamond.svg" alt="icon-dimond">
                    <p>ui / ux design</p>
                    <p>Be set fourth land god darkness
                        make it wherein own</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/arc.svg" alt="icon-arc">
                    <p>web development</p>
                    <p>A she'd them bring void moving
                        third she'd kind fill</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/phone.svg" alt="icon-phone">
                    <p>app / mobile</p>
                    <p>Dominion man second spirit he,
                        earth they're creeping</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/joy.svg" alt="icon-joy">
                    <p>game design</p>
                    <p>Morning his saying moveth it
                        multiply appear life be</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/plane.svg" alt="icon-plane">
                    <p>SEO / marketing</p>
                    <p>Give won't after land fill creeping
                        meat you, may</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/star.svg" alt="icon-star">
                    <p>photography</p>
                    <p>Creepeth one seas cattle grass
                        give moving saw give</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/magic-wand.svg" alt="icon-magic-wand">
                    <p>graphic design</p>
                    <p>Open, great whales air rule for,
                        fourth life whales</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="departments_item">
                    <img src="./img/paint-bucket.svg" alt="icon-paint-bucket">
                    <p>illustrations</p>
                    <p>Whales likeness hath, man kind
                        for them air two won't</p>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>