<head><link href="./css/app.css" rel="stylesheet"></head><section class="slider" id="our_testimonials">
    <div class="container">
        <div class="slider_inner">
            <div class="sl">
                <div class="sl_slide">
                    <h3 class="sl__zag">“Outstanding job and exceeded all expectations. It was a pleasure<br>
                        to work with them on a sizable first project and am looking<br>
                        forward to start the next one asap.”</h3>
                    <p class="sl__desc">Michael Hopkins</p>
                </div>
                <div class="sl_slide">
                    <h3 class="sl__zag">“For every reason it’s not possible, there are hundreds of people<br>
                        who have faced the same circumstances and succeeded.<br> Do what you can
                        with all you have, wherever you are.”</h3>
                    <p class="sl__desc">Jack Canfield</p>
                </div>
                <div class="sl_slide">
                    <h3 class="sl__zag">“Develop an ‘Attitude of Gratitude’. Say thank you to everyone you meet<br>
                        for everything they do for you. To see what is right and<br>
                        not do it is a lack of courage.”</h3>
                    <p class="sl__desc">Brian Tracy</p>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>