<head><link href="./css/app.css" rel="stylesheet"></head><section class="statistics">
    <div class="container">
        <div class="row stat-center">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="stat-inner">
                    <div class="stat_icon">
                        <img src="./img/portfolio.svg" alt="icon-portfolio">
                    </div>
                    <div class="stat_text">
                        <p>548</p>
                        <p>Projects completed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="stat-inner">
                    <div class="stat_icon">
                        <img src="./img/clock.svg" alt="icon-clock">
                    </div>
                    <div class="stat_text">
                        <p>1465</p>
                        <p>Working hours</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="stat-inner">
                    <div class="stat_icon">
                        <img src="./img/star.svg" alt="icon-star">
                    </div>
                    <div class="stat_text">
                        <p>612</p>
                        <p>Positive feedbacks</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="stat-inner">
                    <div class="stat_icon">
                        <img src="./img/like.svg" alt="icon-like">
                    </div>
                    <div class="stat_text">
                        <p>735</p>
                        <p>Happy clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>