<head><link href="./css/app.css" rel="stylesheet"></head><section class="work_process" id="our_process">
    <div class="container">
        <div class="work_process_inner">
            <div class="work_process_text">
                <h3>Our Work Process</h3>
                <p>Was years it seasons was there form he in in them together over that,
                    third sixth gathered female creeping bearing behold years.</p>
            </div>
            <div class="work_process_video">
                <video id="video" controls>
                    <source src="./img/Process_Work.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section><script type="text/javascript" src="./js/app.js"></script>