<head><link href="./css/app.css" rel="stylesheet"></head><header class="header">
    <div class="container">
        <div class="row head_center">
            <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="logo">
                    <a href="/"><img src="./img/diamond.svg" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-xs-6">
                <nav class="navigation-lg">
                    <ul class="menu">
                        <li class="menu_item"><a class="menu_link bold" href="/">home</a></li>
                        <li class="menu_item"><a class="menu_link bold" href="#about_us">about</a></li>
                        <li class="menu_item"><a class="menu_link bold" href="#our_products">work</a></li>
                        <li class="menu_item"><a class="menu_link bold" href="#our_process">process</a></li>
                        <li class="menu_item"><a class="menu_link bold" href="#our_services">services</a></li>
                        <li class="menu_item"><a class="menu_link bold" href="#our_testimonials">testimonials</a></li>
                        <li class="menu_item"><a class="menu_link bold" href="#foot">contact</a></li>
                    </ul>
                </nav>
                <div class="xs-sidebar">
                    <div class="sidebar" id="sidebarBox">
                            <div class="closebtn"><a href="javascript:void(0)">×</a></div>
                            <div class="item"><a href="#about_us">About</a></div>
                            <div class="item"><a href="#our_products">Work</a></div>
                            <div class="item"><a href="#our_process">Process</a></div>
                            <div class="item"><a href="#our_services">Services</a></div>
                            <div class="item"><a href="#our_testimonials">Testimonials</a></div>
                            <div class="item"><a href="#foot">Contact</a></div>
                    </div>
                    <button class="openbtn" id="sidebarBtn">☰</button>
                </div>
            </div>
        </div>
    </div>
</header><script type="text/javascript" src="./js/app.js"></script>